@{
    ViewBag.Title = "节目管理";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#tabs").tabs();

        $("#one1").click(function () {
            getHotChns();
        });
       
        $("#TimerButton").click(function () {
            chnQuartz();
        });

        $("#hotChnButton").click(function () {
            var value = $("#hot_count").val();

            var regx = /^[0-9]*[1-9][0-9]*$/;
            if (!regx.test(value)) {
                layer.msg("必须是正整数的数字", {
                    icon: 5,
                    time: 2000
                });
                $("#hot_count").focus();
                return;
            }
            var count = parseInt(value);
            if (count < 5 || count > 10000) {
                layer.msg("必须在5-10000之间", {
                    icon: 5,
                    time: 2000
                });
                $("#hot_count").focus();
                return;
            }

            layer.msg('数据提交中...', { icon: 16 });
            $.ajax({
                url: head + "/Channel/Setting",
                type: "POST",
                dataType: "json",
                data: { Count: count },
                success: function (res) {
                    layer.closeAll();
                    if (res == "ok") {
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 2000
                        });
                    } else {
                        layer.msg(res, {
                            icon: 2,
                            time: 3000
                        });
                    }
                },
                error: function (data) {
                    layer.closeAll();
                    layer.msg("服务器繁忙！", {
                        icon: 5,
                        time: 3000
                    });
                }
            });

        });
        $("#one1").click();
    });
</script>
<div id="tabs" class="content">
    <ul>
        <li><a href="#con_one_1" id="one1">热度统计</a></li>
        <li><a href="#con_one_2" id="one2">热度定时设置</a></li>
        <li><a href="#con_one_3" id="one3">热度列表设置</a></li>
    </ul>
    <div>
        <div id="con_one_1">
            <div>
                <table id="chn_jqGrid"></table>
                <div id="chn_jqGridPager"></div>
            </div>
        </div>
        <div id="con_one_2">
            <div class="info">
                <table>
                    <tr>
                        <td>
                            热度清零定时信息:
                        </td>
                        <td>
                            每日 <span id="timer">@ViewBag.Hour：@ViewBag.Minute</span> 定时热度清零
                        </td>
                    </tr>
                    <tr>
                        <td>
                            热度清零定时设置:
                        </td>
                        <td>
                            <span>
                                每日
                                <select id="hour" name="hour" style="width:60px;margin:10px 2px">
                                    @for (var i = 0; i < 24; i++)
                                    {
                                        if (ViewBag.Hour == i)
                                        {
                                            <option value="@i" selected="selected">@i</option>
                                        }
                                        else
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>时
                                <select id="minute" name="minute" style="width:60px; margin: 10px 0px;">
                                    @for (var i = 0; i < 60; i++)
                                    {
                                        if (ViewBag.Minute == i)
                                        {
                                            <option value="@i" selected="selected">@i</option>
                                        }
                                        else
                                        {
                                            <option value='@i'>@i</option>
                                        }
                                    }
                                </select>分
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-default" id="TimerButton">提交</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="con_one_3">
            <div class="info">
                <table>
                    <tr>
                        <td>
                            节目列表个数设置:
                        </td>
                        <td>
                            <input type="text" name="hot_count" id="hot_count" value="@ViewBag.Count"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-default" id="hotChnButton">提交</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>